*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

spring_web_mvc/.idea/
spring_web_mvc/target/
spring_web_mvc/SpringWebMVC.iml
